@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	background-color:#E7DAC4;  
	padding-right: 10%;
	padding-left: 10%;
}
p {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:#460304; 
	color:  #FFFFFF; 
}
.a:hover {
	font-size:120%;
	background-color: #D2B6B6; 
	color: #CA9293; 
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #460304;
	border-radius: 20px;
}

li {
	float:left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: black;
	font-size: 120%;
	font-weight: bold;
}

.divider {
	display: table;
}

.subDivider {
	display: table-row;
}

.dividedCell {
	display: table-cell;
	vertical-align: top;
	background-color: #FFFFFF;
}